<ul class='gem_header'>
  <li>
    <%= link_to 'Статистика HeasrtStone', 'http://hsstat.ai-factory.com' %>
  </li>
  <li>
    <%= link_to 'Новости', 'http://news.ai-factory.com' %>
  </li>
  <li>
    <%= link_to 'Контроль просмотра фильмов', 'http://films.ai-factory.com' %>
  </li>
  <li>
    <%= link_to 'Фиды социальных сетей', 'http://feed.ai-factory.com' %>
  </li>
</ul>
